# Build/outputs
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/
TestResults/

# IDE
.vs/
.idea/
.vscode/

# Packages & misc
packages/
*.nupkg
*.log
*.user
*.suo
*.tmp
*.cache/
Thumbs.db
*.DS_Store

# Ignore all .zip anywhere
*.zip

# Ignore “Instructions” only at repo root
/Instructions/

# Ignore a specific file (with space in name)
Ex03/B24 Ex03 Itay 208277574 Nimrod 208082735.docx
